h1{
    text-align: center;
    font-size: 60px;
      color: #e1e8f0;
    
}
p{
     text-align: center;
    font-size: 40px;
      color: #e1e8f0;
}
h2{
    font-size: 20px;
    text-align: center;
}
body{
    background-color: rgba(31, 135, 156, 0.944);
}
img {
    max-width:300px;
    max-height: 400px;
    width: auto;
    height: auto;
}
img{
    max-width:500px;
    max-height: 400px;
    width: auto;
    height: auto;
}
h3{
     font-size: 20px;
    text-align: center;
}